<p>
 <strong>Title:</strong>
 <%= @article.title %>
<p>

<p>
 <strong>Text:</strong>
 <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a CoMmEnT:</h2>
<%= render 'comments/form' %>

<%= link_to 'EdIt', edit_article_path(@article) %>
|
<%= link_to 'BaCk', articles_path %>
